<div id="<%= dom_id post %>" class="flex flex-col space-y-10 my-10">
  <div>
    <strong class="font-medium mb-1">Title:</strong>
    <%= post.title %>
  </div>

  <div>
    <strong class="font-medium mb-1">Content:</strong>
    <%= post.content %>
  </div>

  <div>
    <strong class="font-medium mb-1">Active:</strong>
    <%= post.active %>
  </div>

</div>
